bcrypt==3.1.7
cffi==1.14.0
click==7.1.2
Flask==1.1.2
Flask-API==2.0
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycparser==2.20
pymongo==3.10.1
python-dotenv==0.14.0
six==1.15.0
Werkzeug==2.2.3